<div id="navigation-bar">
   <!-- TODO: switch the 'url_for' for shopping cart icon -->
   <div class="logo_left">
      <a id="header_logo" href="{{ url_for('get_home') }}"
         ><img src="../static/images/logo.png" class="logo_pizza" alt="logo"
      /></a>
   </div>
   <a href="{{ url_for('get_about_us') }}">About us</a>
   <a href="{{ url_for('get_menu') }}">Menu</a>
   <a href="{{ url_for('get_order') }}">Order</a>

   {% if "username" in session %}
      <a href="{{ url_for('get_logout') }}">Logout</a>
      <a id="name">Welcome, {{ session['username'] }}!</a>
   {% else %}
      <a href="{{ url_for('get_register') }}">Register</a>
      <a href="{{ url_for('get_login') }}">Login</a>
   {% endif %}

   <a href="{{ url_for('get_shopping_cart') }}" class="shopping-cart"
      ><img src="../static/icons/shopping-cart-black.png"
   /></a>
   <!-- TODO: switch the 'url_for' for about us page -->
   <div class="switch">
      <input
         id="language-toggle"
         class="check-toggle check-toggle-round-flat"
         type="checkbox"
      />
      <label for="language-toggle"></label>
      <span class="on">BG</span>
      <span class="off">EN</span>
   </div>
</div>
