<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Queue</title>
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename='styles/queue_style.css') }}"
      />
      <script src="{{ url_for('static', filename='scripts/cashier_queue.js') }}"></script>
   </head>
   <body>
      <!-- VISUALIZATION TEMPLATES -->
      <template id="order_template">
         <h3 class="order_title">ORDER #<span class="order_number"></span></h3>
         <ul class="pizza_list"></ul>
      </template>
      <template id="pizza_template">
         <li class="pizza_item">
            Pizza <span class="pizza_name"></span
            ><span class="pizza_quantity"></span>
         </li>
      </template>

      <div id="queue_container"></div>
   </body>
</html>
